<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISDMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IRSMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IFMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IEAMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPLMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISQLService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWorkFlowService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IQMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDAService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BFM.WCFService/FMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFMSService" contract="FMSService.IFMSService" name="BasicHttpBinding_IFMSService" />
      <endpoint address="http://localhost/BFM.WCFService/RSMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRSMService" contract="RSMService.IRSMService" name="BasicHttpBinding_IRSMService" />
      <endpoint address="http://localhost/BFM.WCFService/EAMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEAMService" contract="EAMService.IEAMService" name="BasicHttpBinding_IEAMService" />
      <endpoint address="http://localhost/BFM.WCFService/PLMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPLMService" contract="PLMService.IPLMService" name="BasicHttpBinding_IPLMService" />
      <endpoint address="http://localhost/BFM.WCFService/SQLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISQLService" contract="SQLService.ISQLService" name="BasicHttpBinding_ISQLService" />
      <endpoint address="http://localhost/BFM.WCFService/WorkFlowService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkFlowService" contract="WorkFlowService.IWorkFlowService" name="BasicHttpBinding_IWorkFlowService" />
      <endpoint address="http://localhost/BFM.WCFService/TMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITMSService" contract="TMSService.ITMSService" name="BasicHttpBinding_ITMSService" />
      <endpoint address="http://localhost/BFM.WCFService/WMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMSService" contract="WMSService.IWMSService" name="BasicHttpBinding_IWMSService" />
      <endpoint address="http://localhost/BFM.WCFService/SDMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDMService" contract="SDMService.ISDMService" name="BasicHttpBinding_ISDMService" />
      <endpoint address="http://localhost/BFM.WCFService/QMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMSService" contract="QMSService.IQMSService" name="BasicHttpBinding_IQMSService" />
      <endpoint address="http://localhost/BFM.WCFService/DAService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDAService" contract="DAService.IDAService" name="BasicHttpBinding_IDAService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
