<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- ================== 1：开发系统相关配置 ================== -->
  <!-- 应用程序标题 -->
  <add key="AppTitle" value="BFM-MES 生产执行系统" />

  <!-- 应用程序主界面显示的标题 -->
  <add key="MainFormTitle" value="制 造 执 行 系 统" />

  <!-- 当前产线的PKNO -->
  <add key="CurLinePKNO" value="" />

  <!-- 数据保存周期 单位秒 -->
  <add key="SaveDataSpan" value="5" />

  <!-- 超时清空数据 单位分钟 -->
  <add key="TimeOutClear" value="2" />

  <!-- Modula WMS 数据库连接数据 -->
  <add key="ModulaWMSConnString" value="Data Source=192.168.0.222;Initial Catalog=HOST_IMPEXP;User ID=sa;Password=123456789" />

  <!-- 是否开启WPF效果 0:不开启；1开启-->
  <add key="WPFEffect " value="0" />

  <add key="RedisHost" value="192.168.1.100:6379"/>

</appSettings>