<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DB_ServiceForWMS" connectionString="Data Source=192.168.0.220;Initial Catalog=HOST_IMPEXP;User ID=sa;Password=123456789" providerName="MySql.Data" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings configSource="Configs\system.config" />
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISDMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IRSMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IFMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IEAMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IPLMService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ISQLService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWorkFlowService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ITMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IWMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IQMSService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDAService" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/wcfservice/FMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFMSService" contract="FMSService.IFMSService" name="BasicHttpBinding_IFMSService" />
      <endpoint address="http://localhost/wcfservice/RSMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRSMService" contract="RSMService.IRSMService" name="BasicHttpBinding_IRSMService" />
      <endpoint address="http://localhost/wcfservice/EAMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEAMService" contract="EAMService.IEAMService" name="BasicHttpBinding_IEAMService" />
      <endpoint address="http://localhost/wcfservice/PLMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPLMService" contract="PLMService.IPLMService" name="BasicHttpBinding_IPLMService" />
      <endpoint address="http://localhost/wcfservice/SQLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISQLService" contract="SQLService.ISQLService" name="BasicHttpBinding_ISQLService" />
      <endpoint address="http://localhost/wcfservice/WorkFlowService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkFlowService" contract="WorkFlowService.IWorkFlowService" name="BasicHttpBinding_IWorkFlowService" />
      <endpoint address="http://localhost/wcfservice/TMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITMSService" contract="TMSService.ITMSService" name="BasicHttpBinding_ITMSService" />
      <endpoint address="http://localhost/wcfservice/WMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWMSService" contract="WMSService.IWMSService" name="BasicHttpBinding_IWMSService" />
      <endpoint address="http://localhost/wcfservice/SDMService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISDMService" contract="SDMService.ISDMService" name="BasicHttpBinding_ISDMService" />
      <endpoint address="http://localhost/wcfservice/QMSService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQMSService" contract="QMSService.IQMSService" name="BasicHttpBinding_IQMSService" />
      <endpoint address="http://localhost/wcfservice/DAService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDAService" contract="DAService.IDAService" name="BasicHttpBinding_IDAService" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>None</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
